body {
  margin: 0;
  font-family: 'Vujahday Script', cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url(./assets/img/fondo.jpg);
  background-repeat: no-repeat;
  background-size: 100vw 100vh;
}

.App {
  display: block;
  height: 100vh;
  overflow: hidden;
  margin-left: 5vw;
  padding-top: 5vw;
}

.presentacion {
  color: #186197;
  width: 55%;
  font-size: 2.0vw;
  font-family: 'Vujahday Script', cursive;
}

.botones {
  width: 35vw;
  display: flex;
}

.botones button {
  background-color: #2caed4;
  margin-left: 0.5vw;
}

.sub-titulo {
  margin-top: 1vw;
}

.listado button {
  background-color: #176198;
  margin: 0;
}

